.counter{
    border: 1.5px solid rgb(204, 13, 204);
    border-radius: 6px;
    background-color: rgb(157, 214, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
   
    gap: 15px;
    padding: 15px;
   

}
#hit{
    font-size: 15px;
}
